.maket {
    background-image: url(./images/football_b.png);
    background-repeat: repeat-y;
    background-position: right;
    border: 1px solid blue;
}

.header {
    padding-top: 20px;
    background-color: lightskyblue;
    text-align: center;
    font-family: fantasy;
    font: weight 400px;
    font-size: 22px;
    color: blue;
    height: 43px;
    margin-top: 0px;
}

.conteinermenu {
    /* word-spacing: 6px; */
    width: 170px;
    float: left;
    background-color: gold;
    text-align: left;
    font-size: 16px;
    color: black;
}

ul {
    padding-left: 25px;
}

ul {
    width: 10%;
}

.contant {
    width: 75%;
    float: left;
    margin-top: 0px;

    text-align: center;
    font-size: 16px;
    color: black;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: -10px;
}

.imgcontent {
    padding: 15px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    padding-left: 0px;

}

.pudtoj {
    clear: both;

}

.conteiner {
    padding-top: 20px;
    background-color: lightskyblue;
    text-align: center;
    font-family: fantasy;
    font: weight 400px;
    font-size: 22px;
    color: blue;
    height: 43px;
    margin-top: 0px;
    display: cover;
}

@media screen and (max-width: 868px) {
    .conteinermenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    font-size: 9px;
    padding-left: 0px;
    margin-left: 0px;
    }
}

@media screen and (max-width: 868px) {
    .conteinermenu p {
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
    }
@media screen and (max-width: 868px) {
    ul {
        list-style-type: none;
        display: flex;
        padding-left: 0px;
        float: left;
        }
    }
@media screen and (max-width: 870px) {
    li {
            padding-left: 3px;
        }
    }
}

@media screen and (max-width: 600px) {
    li {
        padding-left: 5px;
    }